@import "../../index.scss";

.crew-view {
  background: center/cover no-repeat
    url("../../assets/crew/background-crew-mobile.jpg");

  @media (min-width: $bp-tablet) {
    background: center/cover no-repeat
      url("../../assets/crew/background-crew-tablet.jpg");
  }

  @media (min-width: $bp-desktop) {
    background: center/cover no-repeat
      url("../../assets/crew/background-crew-desktop.jpg");
  }

  &__img {
    position: relative;
    overflow: hidden;
    height: clamp(17rem, 70vw, 53rem);
    
    // height: 22rem;
    margin-top: calc(var(--base-unit) * 1.25);
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--clr-stroke);

    @media (min-width: $bp-tablet) {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: clamp(30rem, 45vh, 70rem);
      border-bottom: none;

      grid-row: -1;
    }


    @media (min-width: $bp-desktop) {
      position: absolute;
      height: 70vh;
      left: 30%;
      bottom: 0;
 //right: 17%;
      border-bottom: none;

    }

    img {
      position: absolute;
      
      height: 100%;
      width: auto;
  }
  }
  &__btns {
    margin: 0 auto;
    height: calc(var(--base-unit) * 3.5);
    width: calc(var(--base-unit) * 3.75);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--base-unit) 0;

    @media (min-width: $bp-tablet) {
      height: calc(var(--base-unit) * 2);
      
      grid-row: 3;
    }

    @media (min-width: $bp-desktop) {
      margin: 0;
      width: calc(var(--base-unit) * 5.5);
      grid-column: 1;
      grid-row: 5;

    }
  }

  &__btn {
    cursor: pointer;
    opacity: 0.175;
    height: 1rem;
    width: 1rem;
    background: var(--clr-contrast);
    border-radius: 100%;
    border: none;

    &--active {
      opacity: 1;
    }
    @media (min-width: $bp-desktop) {
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  &__info {
    margin: 0 auto;
    max-width: 52rem;
    height: calc(var(--base-unit) * 10);

    text-align: center;
    @media (min-width: $bp-tablet) {
      height: calc(var(--base-unit) * 2);
    }


    @media (min-width: $bp-desktop) {
      margin: 0;
      height: calc(var(--base-unit) * 12);

      text-align: left;
/*       max-width: 65rem;
 */
      grid-column: 1;
      grid-row: 4;
    }
    

    h3 {
      height: calc(var(--base-unit) * 1.5);
      font-size: 1.6rem;
      font-family: var(--ff-subheading-primary);
      opacity: 0.5;
      @media (min-width: $bp-tablet) {
        height: calc(var(--base-unit) * 2);
        font-size: 2.4rem;
      }

      @media (min-width: $bp-desktop) {
        margin: 0;

        font-size: 3.2rem;
        text-align: left;
      }
    }

    h1 {
      height: calc(var(--base-unit) * 2);

      font-size: 2.4rem;
      @media (min-width: $bp-tablet) {
        height: calc(var(--base-unit) * 2.75);

        font-size: 4rem;
        padding-bottom: 0;
      }

      @media (min-width: $bp-desktop) {
        min-width: 65rem;
        height: calc(var(--base-unit) * 4);
        font-size: 5.6rem;
      }
    }
  }
}
