@import "../../index.scss";

.destination-view {
  background: center/cover no-repeat
    url("../../assets/destination/background-destination-mobile.jpg");

  @media (min-width: $bp-tablet) {
    background: center/cover no-repeat
      url("../../assets/destination/background-destination-tablet.jpg");
  }

  @media (min-width: $bp-tablet) {
    background: center/cover no-repeat
      url("../../assets/destination/background-destination-desktop.jpg");
  }

  &__img {
    width: clamp(17rem, 45%, 30rem);
    margin: 0 auto;

    @media (min-width: $bp-tablet) {
      width: clamp(30rem, 45%, 45rem);
    }

    @media (min-width: $bp-desktop) {
      width: clamp(45rem, 45%, 50rem);

      grid-column: 1;
      grid-row: 3 / span 3;

    }
    img {
      width: 100%;
      height: auto;
    }
  }

  &__btns {
    margin: 0 auto;
    height: calc(var(--base-unit) * 3.5);
    width: calc(var(--base-unit) * 10);

    display: flex;
    justify-content: space-between;
    align-items: center;



    @media (min-width: $bp-tablet) {
      height: calc(var(--base-unit) * 5.5);
      width: calc(var(--base-unit) * 11.75);
    }
    @media (min-width: $bp-desktop) {
      margin: 0;
      grid-column: 2;
      grid-row: 2 / span 1;

    }
  }
  &__btn {
    cursor: pointer;
    background: none;
    color: var(--clr-secondary);
    font-size: 1.4rem;
    font-family: var(--ff-btn);
    border: none;
    padding-bottom: calc(var(--base-unit) * 0.5);
    border-bottom: 3px solid transparent;

    text-transform: uppercase;
    letter-spacing: 0.27rem;

    @media (min-width: $bp-tablet) {
      font-size: 1.6rem;
    }

    &--active {
      color: var(--clr-contrast);
      border-bottom: 3px solid var(--clr-contrast);
    }
  }

  &__description {
    //width: 32.7rem;
    max-width: 32.7rem;
    //width: 65ch;
    margin: 0 auto;
    text-align: center;

    height: calc(var(--base-unit) * 10);
    border-bottom: 1px solid var(--clr-stroke);

    @media (min-width: $bp-tablet) {
      max-width: 57.3rem;
    }

    @media (min-width: $bp-desktop) {
      max-width: 44rem;
      grid-column: 2;

      grid-row: 4 / span 3;

      height: calc(var(--base-unit) * 12);


    }

    h2 {
      font-size: 5.6rem;
      font-family: var(--ff-heading);
      height: calc(var(--base-unit) * 2.5);

      @media (min-width: $bp-tablet) {
        font-size: 8rem;
        height: calc(var(--base-unit) * 4);
      }

      @media (min-width: $bp-desktop) {
        font-size: 10rem;
                height: calc(var(--base-unit) * 5);

        text-align: left;
      }
    }
  }

  &__details {
    margin: 0 auto;
    text-align: center;
    padding-top: calc(var(--base-unit) * 1.5);

    @media (min-width: $bp-tablet) {
      width: 37.5rem;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }
    @media (min-width: $bp-desktop) {
      grid-column: 2;
      grid-row: 5;

      div {
        align-self: end;
      }

    }

    h4 {
      font-size: 1.4rem;
      font-family: var(--ff-btn);
      letter-spacing: 0.25rem;
      color: var(--clr-secondary);
      padding-bottom: calc(var(--base-unit) * 0.5);
    }

    h3 {
      font-family: var(--ff-heading);
      font-size: 2.8rem;
      padding-bottom: calc(var(--base-unit) * 1.25);

      @media (min-width: $bp-desktop) {
        padding: 0;

      }
    }
  }
}
