.home-view {
  padding-top: 8.8rem; // height of the header
  padding-left: var(--base-unit);
  padding-right: var(--base-unit);
  height: 100vh;
  background: bottom/cover no-repeat url('../../assets/home/background-home-mobile.jpg');

  display: flex;
  flex-direction: column;
  align-items: center;


  @media (min-width: 768px) {
    background: bottom/cover no-repeat url('../../assets/home/background-home-tablet.jpg');
    backdrop-filter: screen;
  }


  h5 {
    margin: var(--base-unit) 0 calc(var(--base-unit) * 1.25);
    font-family: var(--ff-subheading-secondary);
    color: var(--clr-secondary);
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.27rem;  
    text-transform: uppercase;
    
    @media (min-width: 768px) {
      font-size: 2rem;
    }
  }
  
  h1 {
    margin-bottom: calc(var(--base-unit) * 1.75);
    font-size: 8rem;
    font-weight: 400;
    font-family: var(--ff-heading);

    @media (min-width: 768px) {
      font-size: 15rem;

    }

  }

  p {
    max-width: 44rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding-bottom: calc(var(--base-unit) * 1.5);

    @media (min-width: 768px) {
      font-size: 1.6rem;
      line-height: 2.8rem;
    }
  }
  button {
    width: 15rem;
    height: 15rem;
    border-radius: 100%;
    border: none;
    font-family: var(--ff-heading);
    font-size: 2rem;
    color: var(--clr-primary);
    text-transform: uppercase;
    margin: calc(var(--base-unit) * 3.5) 0 calc(var(--base-unit) * 2);

    @media (min-width: 768px) {
      width: 24rem;
      height: 24rem;
      font-size: 3.2rem;

    }
  }
}

