@import "../../index.scss";

.technology-view {

  background: center/cover no-repeat
    url("../../assets/technology/background-technology-mobile.jpg");

  @media (min-width: $bp-tablet) {
    background: center/cover no-repeat
      url("../../assets/technology/background-technology-tablet.jpg");

  }

  @media (min-width: $bp-desktop) {
    background: center/cover no-repeat
      url("../../assets/technology/background-technology-desktop.jpg");
  }


  &__img {
    height: clamp(17rem, 45vw, 31rem);
    width: calc(5vw * 2 + 100%);
    transform: translateX(-5vw);


    @media (min-width: $bp-tablet) {
      height: clamp(31rem, 40vw, 52rem);
    } 

    @media (min-width: $bp-desktop) {
      grid-column: 3;
      grid-row: 4;
  //    width: 100%;
      transform: translateX(6vw);
/*       position: absolute;
      width: 35vw;
      height: 35vw;
      top: 15vh;
      right: 0;
 */
    } 

    img {
      width: 100%;
      height: 100%;
  }
  }

  &__btns {
    height: calc(var(--base-unit) * 4); 
    width: calc(var(--base-unit) * 6.25);
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
/*     padding: calc(var(--base-unit) * 1.5) 0;
 */

    @media (min-width: $bp-tablet) {
      height: calc(var(--base-unit) * 6.5); 

      width: calc(var(--base-unit) * 8.75);
    }

    @media (min-width: $bp-desktop) {
      flex-direction: column;
      align-items: flex-start;
      padding: 0;
      margin: 0;
      height: 30.4rem;
      width: 16rem;

      grid-column: 1;


    }
  }
  &__btn {
    cursor: pointer;
    height: 4rem;
    width: 4rem;
    color: var(--clr-contrast);
    font-size: 1.6rem;
    font-family: var(--ff-heading);
    background: transparent;
    border-radius: 100%;
    border: 1px solid hsla(0, 0%, 100%, 0.25);

    &--active {
      color: var(--clr-primary);
      background: var(--clr-contrast);
      opacity: 1;
    }

    @media (min-width: $bp-tablet) {
      font-size: 2.4rem;
      height: 6rem;
      width: 6rem;
    }

    @media (min-width: $bp-desktop) {
      font-size: 3.2rem;
      height: 8rem;
      width: 8rem;
    }
  }

  &__info {
/*     text-align: center;
 */
    @media (min-width: $bp-desktop) {
      width: 47rem;
   //   margin-right: 50rem;
      grid-column: 2;



    }

    h3 {
      height: calc(var(--base-unit) * 1.5);
      font-size: 1.6rem;
      letter-spacing: 0.25rem;
      font-family: var(--ff-subheading-secondary);
      color: var(--clr-secondary);

      @media (min-width: $bp-tablet) {
        height: calc(var(--base-unit) * 2);
        font-size: 2.4rem;
      }

      @media (min-width: $bp-desktop) {
        font-size: 1.6rem;
        text-align: left;

      }
    }

    h1 {
      height: calc(var(--base-unit) * 2);
      font-family: var(--ff-heading);
      font-size: 2.4rem;
      
      @media (min-width: $bp-tablet) {
        height: calc(var(--base-unit) * 2.75);
        font-size: 4rem;
      }

      @media (min-width: $bp-desktop) {
      
        font-size: 5.6rem;
        text-align: left;
      }
    }
    
  }
}
