@import "../../index.scss";

.technology-view {
  background: center/cover no-repeat
    url("../../assets/technology/background-technology-mobile.jpg");

  @media (min-width: $bp-tablet) {
    background: center/cover no-repeat
      url("../../assets/technology/background-technology-tablet.jpg");
  }

  @media (min-width: $bp-desktop) {
    background: center/cover no-repeat
      url("../../assets/technology/background-technology-desktop.jpg");
  }

  &__img {
    position: relative;
    margin: 0;

    grid-row: 3 / span 3;
    grid-column: 1 / -1;

    @media (min-width: $bp-desktop) {
      grid-row: 4 / span 9;
      grid-column: 9 / -1;
    }
  }

  &__btns {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--base-unit);

    grid-row: 6 / span 1;
    grid-column: 1 / -1;

    @media (min-width: $bp-desktop) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      grid-row: 6 / span 7;
      grid-column: 2 / span 1;
    }
  }
  &__btn {
    cursor: pointer;
    height: 4rem;
    width: 4rem;
    color: var(--clr-contrast);
    font-size: 1.6rem;
    font-family: var(--ff-heading);
    background: transparent;
    border-radius: 100%;
    border: 1px solid hsla(0, 0%, 100%, 0.25);

    @media (hover: hover) {
      transition: var(--hover-transition);
      &:hover {
        opacity: 1;
        border: 1px solid var(--clr-contrast);
      }
    }

    &--active {
      color: var(--clr-primary);
      background: var(--clr-contrast);
      opacity: 1;
    }

    @media (min-width: $bp-tablet) {
      font-size: 2.4rem;
      height: 6rem;
      width: 6rem;
    }

    @media (min-width: $bp-desktop) {
      font-size: 3.2rem;
      height: 8rem;
      width: 8rem;
    }
  }

  &__info {
    grid-row: 7 / span 3;
    grid-column: 3 / span 8;

    @media (min-width: $bp-desktop) {
      margin-left: 1vw;

      grid-row: 6 / span 7;
      grid-column: 3 / span 5;
    }

    h3 {
      height: calc(var(--base-unit) * 1.5);
      font-size: 1.6rem;
      letter-spacing: 0.25rem;
      font-family: var(--ff-subheading-secondary);
      color: var(--clr-secondary);
      text-align: center;

      @media (min-width: $bp-tablet) {
        height: calc(var(--base-unit) * 2);
        font-size: 2.4rem;
      }

      @media (min-width: $bp-desktop) {
        font-size: 1.6rem;
        text-align: left;
      }
    }

    h1 {
      height: calc(var(--base-unit) * 2);
      font-family: var(--ff-heading);
      font-size: 2.4rem;
      text-align: center;

      @media (min-width: $bp-tablet) {
        height: calc(var(--base-unit) * 2.75);
        font-size: 4rem;
      }

      @media (min-width: $bp-desktop) {
        font-size: 5.6rem;
        text-align: left;
      }
    }
  }
}
