@import "../../index.scss";

%nav-btn {
  position: relative;
  z-index: 10;
  width: var(--base-unit);
  height: 3px;
  border: none;
  background: var(--clr-secondary);
  cursor: pointer;

  transition: var(--hover-transition);

  @media (min-width: $bp-tablet) {
    display: none;
  }
}

%line {
  content: "";
  position: absolute;
  left: 0;
  width: var(--base-unit);
  height: 3px;
  background: var(--clr-secondary);

  transition: var(--hover-transition);
}

.header {
  &__container {
    position: absolute;
    width: 100%;
    padding: 0 10vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: $bp-tablet) {
      padding: 0 5vw;
    }
    @media (min-width: $bp-desktop) {
      top: 4rem;
    }
  }

  &__logo-container {
    width: 10rem;
    height: 10rem;

    display: flex;
    align-items: center;
  }

  &__logo {
    position: absolute;
    width: 4rem;
    height: 4rem;
    background: center/cover url("../../assets/shared/logo.svg");

    @media (min-width: $bp-tablet) {
      width: 4.8rem;
      height: 4.8rem;
    }

    @media (min-width: $bp-desktop) {
      &::after {
        content: "";
        position: absolute;
        top: 2.2rem;
        left: calc(4.8rem + 5vw);
        width: calc(32.5vw - 4.8rem);
        height: 1px;
        background: var(--clr-stroke);

        z-index: 25;
      }
    }
  }

  &__nav-btn {
    @extend %nav-btn;

    &::before {
      @extend %line;
      top: calc(3px * -3);
    }

    &::after {
      @extend %line;
      top: calc(3px * 3);
    }
    &--close {
      @extend %nav-btn;
      background: transparent;

      &::before {
        @extend %line;
        top: calc(3px * -3);
        transform: rotate(135deg) translate(25%, -210%);
      }

      &::after {
        @extend %line;
        top: calc(3px * 3);
        transform: rotate(-135deg) translate(25%, 210%);
      }
    }
  }
}
