
@import '../../index.scss';

%nav-btn {
  position: relative;
  z-index: 10;
  width: var(--base-unit);
  height: 3px;
  border: none;
  background: var(--clr-secondary);
  cursor: pointer;

  transition: all .5s ease-in-out;

  @media (min-width: $bp-tablet) {
    display: none;
  }

}
%line {
  content: '';
  position: absolute;

  width: var(--base-unit);
  height: 3px;
  background: var(--clr-secondary);

  left: 0;

  transition: all .4s ease-in-out;
}

.header {
/*   padding: var(--base-unit);
  
  @media (min-width: $bp-tablet) {
    //padding: var(--base-unit) calc(var(--base-unit) * 1.75);
    padding: 0;
  } */
  
  &__container {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
   // max-width: 120rem;
/*     margin: 0 auto;
 */    //padding: 0 var(--base-unit);
         padding: 0 5vw;

    @media (min-width: $bp-desktop) {
/*       padding-right: 0;
      padding-left: 5vw; */

      padding-right: 15vw;
    }
  }

  &__logo-container {
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
  }

  &__logo {
   position: absolute;
    width: 4rem;
    height: 4rem;
    background: center/cover url('../../assets/shared/logo.svg');

    @media (min-width: $bp-tablet) {
      width: 4.8rem;
      height: 4.8rem;
    }

    @media (min-width: $bp-desktop) {

      &::after {
        position: absolute;
        content: '';
     //   width: calc(4.8rem + 25.5vw);
        width: calc(32.5vw - 4.8rem);
        height: 1px;
        top: 2.2rem;
        left: 5vw;
      left: calc(4.8rem + 5vw);
        background: var(--clr-stroke);

        z-index: 25;
      }

    }


    
  }

  &__nav-btn {
    @extend %nav-btn;
/* 
    @media (min-width: $bp-tablet) {
      display: none;
    }
 */
    &::before {
      @extend %line;
      top: calc(3px * -3);
    }

    &::after {
      @extend %line;

      top: calc(3px * 3);
    }
    &--close {
      @extend %nav-btn;

      background: transparent;

      &::before {
        @extend %line;
        top: calc(3px * -3);
        transform: rotate(135deg) translate(25%, -210%);

      }
  
      &::after {
        @extend %line;
        top: calc(3px * 3);
        transform: rotate(-135deg) translate(25%, 210%);

      }
    }
  }

}



