:root {
  --base-unit: 2.4rem;

  --ff-heading: 'Bellefair', serif;
  --ff-subheading-primary: 'Bellefair', serif;
  --ff-subheading-secondary: 'Barlow Condensed', sans-serif;
  --ff-nav-text: 'Barlow Condensed', sans-serif;
  --ff-body-text: 'Barlow', sans-serif;

  --clr-primary: #0B0D17;
  --clr-secondary: #D0D6F9;
  --clr-contrast: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: var(--ff-body-text);
  color: var(--clr-contrast);
  font-weight: 400;
}

h1, h2, h3, h5 {
  font-weight: inherit;
  text-align: center;
  text-transform: uppercase;
}

h1 {
  font-family: var(--ff-heading);
  font-size: 8rem;
}

h5 {
  font-family: var(--ff-subheading-secondary);
  color: var(--clr-secondary); 
  letter-spacing: calc(4.75rem * 0.05);
  font-size: 1.6rem;

}

p {
  color: var(--clr-secondary);
  font-size: 1.5rem;
  text-align: center;
}


li {
  list-style: none;
}
/* 






font-family: 'Barlow', sans-serif;
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bellefair', serif;
font-family: 'Libre Baskerville', serif;


*/