:root {
  --base-unit: 2.4rem;

  --ff-heading: 'Bellefair', serif;
  --ff-subheading-primary: 'Bellefair', serif;
  --ff-subheading-secondary: 'Barlow Condensed', sans-serif;
  --ff-btn: 'Barlow Condensed', sans-serif;
  --ff-nav: 'Barlow Condensed', sans-serif;
  --ff-body-text: 'Barlow', sans-serif;

  --clr-primary: #0b0d17;
  --clr-secondary: #D0D6F9;
  --clr-contrast: #ffffff;
  --clr-stroke: #383B4B;

/*   --tablet-breakpoint: 768px;
 */
}
// 768 px / 1.6 = 48em
$bp-tablet: 48em;

// 1440 px / 1.6 = 90em
$bp-desktop: 90em;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  color: var(--clr-contrast);
  font-weight: 400;
}
h1, h2, h3, h4 {
  font-weight: inherit;
  text-transform: uppercase;
} 

/* 
h1, h3 {
  font-family: var(--ff-heading);
}

h2, button {
  color: var(--clr-secondary);
  font-family: var(--ff-subheading-secondary);
}

h4 {
  font-family: var(--ff-subheading-secondary);
}

*/

p { 
  font-family: var(--ff-body-text);
  color: var(--clr-secondary);
  text-align: center;
}

li {
  list-style: none;
}

img {
  display: block;
  position: absolute;
object-fit: cover;
width: 100%;
height: 100%;

}


/* 






font-family: 'Barlow', sans-serif;
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bellefair', serif;
font-family: 'Libre Baskerville', serif;


*/