@import '../../index.scss';


.background-container {
  padding-top: calc(var(--base-unit) * 3.5);

  min-height: 100vh;

  @media (min-width: $bp-tablet) {
    padding-top: calc(var(--base-unit) * 5.5);

  }
}