.error {
  &__container {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
      font-size: 20rem;
      font-family: var(--ff-subheading-secondary);
    }

    p {
      font-size: 3.2rem;
    }
  }

  &__btn {
    cursor: pointer;
    font-size: 1.6rem;
    font-family: var(--ff-subheading-secondary);
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 1.2rem;
    margin-top: var(--base-unit);
    border-bottom: 3px solid transparent;

    @media (hover: hover) {
      transition: var(--hover-transition);

      &:hover {
        border-bottom: 3px solid var(--clr-hover);
      }
    }
  }
}
