@import "../../index.scss";

.grid-container {
  margin: 0 auto;
  display: grid;
  align-items: center;

  min-height: 65vh;

  width: 90vw;

  grid-template-rows: calc(var(--base-unit) * 1.75) /* auto auto auto */;

  @media (min-width: $bp-tablet) {
    grid-template-rows: calc(var(--base-unit) * 3.25) auto auto auto;
  }

  @media (min-width: $bp-desktop) {
    width: 70vw;

    grid-template-rows: repeat(3, calc(var(--base-unit) * 2.5));
  }
}
