@import "../../index.scss";

.title {
  display: flex;
  justify-content: center;
  font-family: var(--ff-subheading-secondary);
  font-size: 1.6rem;
  letter-spacing: 0.27rem;

 // width: 57.3rem;
  margin: 0 auto;

  @media (min-width: $bp-tablet) {
    margin: 0;

    justify-content: flex-start;
    font-size: 2rem;
  }

  @media (min-width: $bp-desktop) {

    font-size: 2.8rem;

    grid-column: 1 / span 2;
    grid-row: 1 / span 3;
  }

  span {
    font-weight: 700;
    opacity: 0.25;
  }

  h2 {
    font-size: inherit;
    margin-left: calc(var(--base-unit) * 0.5);
  }
}
